img{
   
    display: flex;
    flex-direction: row;
    align-items: baseline;  
  

} 

.container{
    width: 100%;
    background-color: #f3e9f1;
    display: flex;
    justify-content: flex-end;
}

/* Navigation */

.barre-navigation{
    margin-top: 10px;
}



#nav-toggle{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

nav li{
    margin-right: 15px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

h1, h2{
    text-align: center;
}

